<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="dark" />
  <link rel="stylesheet" href="{{ url_for('static', filename='pico.indigo.min.css') }}">
  <script src="{{ url_for('static', filename='jquery-3.7.1.min.js') }}"></script>
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='static.css') }}">
  <meta name="mobile-web-app-capable" content="yes">
  <title>{{name}}</title>
  <script>
    $(document).ready(function () {
      const $form = $('#controlForm');
      const $loadingIndicator = $('#loadingIndicator');
      const $errorMessage = $('#error-message');
      const $mainContent = $('main > section:not(#loadingIndicator)');

      $loadingIndicator.hide();

      $("#ruido").change(function() {
        $.post("/ruido", { ruido: $(this).is(":checked") }, function() {
          //location.reload();
        });            
      });

      $('.velocidad-button').on('click', function () {
        $mainContent.hide();
        $loadingIndicator.show();
        $.post('/generadatos', { data: $('#envios').val() }, function () {
          location.href = '/testvelocidad/' + $('#envios').val();
        });
      });
      $('.device-button').on('click', function () {
        var deviceIp = $(this).data('ip');
        //alert('Device IP: ' + deviceIp);
        location.href = 'http://' + deviceIp + ':8080/robot';
      });

      $form.on('submit', function (e) {
        e.preventDefault();
        console.log('Form submitted'); // Debug log

        // Hide all sections except loading
        $('section:not(#loadingIndicator)').hide();
        $loadingIndicator.show();
        console.log('Loading shown'); // Debug log        

        $.ajax({
          url: $(this).attr('action'),
          method: 'POST',
          data: $(this).serialize(),
          success: function () {
            location.reload();
          },
          error: function (xhr, status, error) {
            $errorMessage.text(error).show();
            $('section').show();
            $loadingIndicator.hide();
          }
        });
      });

    });
  </script>
</head>

<body>
  <header class="container">
    <hgroup>
      {% if is_active %}
      <h1>Movida</h1>
      {% else %}
      <h1>Error</h1>
      {% endif %}
      <p>Control remoto robots.</p>
    </hgroup>
  </header>
  <main class="container">

    <section id="loadingIndicator">      
      <article aria-busy="true">Procesando</article>
    </section>

    {% if devices %}
    <section id="devices">
      <p class="grid">
        {% for device in devices %}
        <button type="button" class="device-button" data-ip="{{ device.ip }}">{{ device.name }}</button>
        {% endfor %}
      </p>
    </section>
    {% else %}
    <section id="vacio">
      <p>No hay na.</p>
    </section>
    {% endif %}

    <section id="control">
      <h2>Configuración</h2>

      <div id="error-message" class="error-message" style="display: none; color: red;"></div>

      <form id="controlForm" action="{{ url_for('home') }}" method="post">
        <fieldset>
          <label for="delay">Delay (ms)
            <input type="text" id="delay" name="delay" value="{{ config.delay }}" />
          </label>
          <label for="debug">
            <input type="checkbox" role="switch" id="debug" name="debug" {% if config.debug %} checked {% endif %} />
            Debug
          </label>
        </fieldset>

        <input type="submit" value="Aplicar" id="submitBtn">
      </form>

      
    </section>

    <section id="test-ruido">
      <h2>Motores</h2>
      <fieldset>
        <label for="ruido">Ruido
          <input type="checkbox" role="switch" id="ruido" name="ruido" {% if config.ruido %} checked {% endif %} />
        <script>
          
        </script>
        </label>
    </section>

    <section id="fecha">
      <fieldset>
        <label for="fecha">Fecha
          <input type="text" id="fecha" name="fecha" value="{{current_time}}" readonly/>
        </label>
    </section>

    <section id="audio">
      <h2>Audio</h2>
      <article>
        <pre>{{audio}}</pre>
      </article>
    </section>

    <section id="servicio">
      <h2>Servicio</h2>
      <article>
        <pre>{{logs}}</pre>
      </article>
    </section>

  </main>
  <footer></footer>
</body>

</html>