<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="dark" />
  <link rel="stylesheet" href="{{ url_for('static', filename='pico.indigo.min.css') }}">
  <script src="{{ url_for('static', filename='htmx.min.js') }}"></script>
  <title>Cliente</title>
</head>

<body>
  <header></header>
  <main>
    <h1>Movida</h1>
    <table>
      <thead>
        <tr>
          <th>IP</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <!-- Ejemplo de dispositivo -->
        <tr>
          <td>192.168.1.10</td>
          <td><span style="color: yellow;">●</span> Conectado</td>
          <td>
            <button hx-get="/acciones/192.168.1.10" hx-target="#menu-192168110" hx-swap="innerHTML">
              Mostrar menú
            </button>
          </td>
        </tr>
        <tr>
          <td>192.168.1.20</td>
          <td><span style="color: red;">●</span> Desconectado</td>
          <td>
            <button hx-get="/acciones/192.168.1.20" hx-target="#menu-192168120" hx-swap="innerHTML">
              Mostrar menú
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Contenedores para HTMX -->
    <div id="menu-192168110"></div>
    <div id="menu-192168120"></div>
  </main>
  <footer></footer>
</body>

</html>