<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="dark" />
  <link rel="stylesheet" href="{{ url_for('static', filename='pico.indigo.min.css') }}">
  <script src="{{ url_for('static', filename='jquery-3.7.1.min.js') }}"></script>
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='static.css') }}">
  <meta name="mobile-web-app-capable" content="yes">
  <title>{{name}}</title>
  <script>
    $(document).ready(function () {      
    });
  </script>
</head>

<body>
  <header class="container">
    <hgroup>
      <h1>{{name}}</h1>
      <p>Control remoto robots.</p>
    </hgroup>
  </header>
  <main class="container">
    <section id="eventos">
      <form>
        <h2>Eventos</h2>
        <label for="timing_events_over_50ms">Envios tardios</label>
        <input type="text" id="timing_events_over_50ms" name="timing_events_over_50ms" value="{{ timing_events_over_50ms }}" disabled />

        <label for="weighted_avg_timing_difference">Diferencia media</label>
        <input type="text" id="weighted_avg_timing_difference" name="weighted_avg_timing_difference" value="{{'%.1f' % weighted_avg_timing_difference}} ms" disabled />

        <label for="max_timing_difference">Máxima diferencia</label>
        <input type="text" id="max_timing_difference" name="max_timing_difference" value="{{'%.1f' % max_timing_difference }} ms" disabled />

        <label for="min_timing_difference">Mínima diferencia</label>
        <input type="text" id="min_timing_difference" name="min_timing_difference" value="{{ '%.1f' % min_timing_difference }} ms" disabled />
      </form>
    </section>

    <section id="control">
      <form>
        <h2>Calidad de Wifi</h2>
        <label for="total">Total notas</label>
        <input type="text" id="total" name="total" value="{{total_notes}}" disabled />
        
        <label for="events_over_50ms">Envios tardios</label>
        <input type="text" id="events_over_50ms" name="events_over_50ms" value="{{ events_over_50ms}}" disabled />

        <label for="weighted_avg_difference">Diferencia media</label>
        <input type="text" id="weighted_avg_difference" name="weighted_avg_difference" value="{{'%.1f' % weighted_avg_difference}} ms" disabled />

        <label for="max_difference">Máxima diferencia</label>
        <input type="text" id="max_difference" name="max_difference" value="{{'%.1f' % max_difference }} ms" disabled />

        <label for="min_difference">Mínima diferencia</label>
        <input type="text" id="min_difference" name="min_difference" value="{{ '%.1f' % min_difference }} ms" disabled />
      </form>
    </section>


  </main>
  <footer></footer>
</body>

</html>