<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="dark" />
  <link rel="stylesheet" href="{{ url_for('static', filename='pico.indigo.min.css') }}">
  <script src="{{ url_for('static', filename='jquery-3.7.1.min.js') }}"></script>
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='static.css') }}">
  <meta name="mobile-web-app-capable" content="yes">
  <title>{{name}}</title>
  <script>
    $(document).ready(function () {      
    });
  </script>
</head>

<body>
  <header class="container">
    <hgroup>
      <h1>{{name}}</h1>
      <p>Control remoto robots.</p>
    </hgroup>
  </header>
  <main class="container">
    <p>AA</p>

  </main>
  <footer></footer>
</body>

</html>